<section id="content">
	<section id="content-title"><h1>Edycja restauracji</h1></section>
	<section id="content-frame">

		<%= render 'form' %>

		<%= link_to 'Pokaż', @fortune %> |
		<%= link_to 'Wróć', fortunes_path %>
	</section>
</section>
