<section id="content">
	<section id="content-title"><h1>Nowa restauracja</h1></section>
	<section id="content-frame">
		
		<%= render 'form' %>

		<%= link_to 'Wróć', fortunes_path %>

	</section>
</section>
