<section id="content">
	<section id="content-title"><h1>Edycja restauracji</h1></section>
	<section id="content-frame">
		<h1>Editing restaurant</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @restaurant %> |
		<%= link_to 'Back', restaurants_path %>
	</section>
</section>
